name: purplebase
description: A fast, local-first nostr client
version: 0.3.3
repository: https://github.com/purplebase/purplebase

environment:
  sdk: ">=3.8.0 <4.0.0"

dependencies:
  async: ^2.11.0
  convert: ^3.1.1
  crypto: ^3.0.3
  logger: ^2.5.0
  riverpod: ^2.5.0
  web_socket: ^0.1.6
  models: ^0.3.3
  sqlite3: ^2.7.5
  collection: ^1.19.1
  path: ^1.9.1
  meta: ^1.16.0

dev_dependencies:
  lints: ^2.1.0
  mockito: ^5.4.4
  test: ^1.24.0

dependency_overrides:
  models:
    # path: ../models
    git:
      url: https://github.com/purplebase/models
      ref: 6a3ba13
